{% extends 'account/base.html' %}
{% load widget_tweaks %}


{% block content %}
    <div id="login" class="container text-center" style="margin-top: 50px">
<h2>Συνδεθείτε</h2>
    {% if form.errors %}
        <div class="col-sm-offset-5 col-sm-3"><p>Ο συνδιασμός ονόματος χρήστη και συνθηματικού που εισάγατε δεν είναι έγκυρος.</p>
            <p>Παρακαλώ Δοκιμάστε ξανά</p></div>
    {% else %}
        <p>Συμπληρώστε την παρακάτω φόρμα για να συνδεθείτε</p>
    {% endif %}

    <form class='form-horizontal' action="{% url 'login' %}" method="post">
        <div class="form-group">
            <label class="control-label col-sm-6">Όνομα χρήστη</label>
            <div class="col-sm-3"> {% render_field form.username class="form-control" placeholder="Εισάγετε όνομα χρήστη"%}</div>
       </div>
        <div class="form-group">
            <label class="control-label col-sm-6">Συνθηματικό</label>
            <div class="col-sm-3"> {% render_field form.password class="form-control" placeholder="Εισάγετε συνθηματικό"%}</div>
       </div>
        {% csrf_token %}

            <div class="form-group">
                <div class="col-sm-offset-6 col-sm-1">
                    <button type="submit" class="file-control btn btn-default">Σύνδεση</button>
                </div>
            </div>


        <input type="hidden" name="next" value="{{ next }}"/>


    </form>
<p></p><a class="col-sm-offset-6 col-sm-3 text-left" href="{% url "password_reset" %}">Ξεχάσατε το συνθηματικό σας???</a></p>
 <p><a class="col-sm-offset-6 col-sm-3 text-left" href="{% url "register_type" %}">Δημιουργήστε ένα νέο λογαριασμό</a></p>
    </div>

{% endblock %}