{% extends 'account/base.html' %}

{% block content %}
    <div id="login" class="container-fluid text-center" style="margin-top: 50px">
<h1>Συνδεθείτε!!!</h1>
    {% if form.errors %}
        <div class="col-sm-offset-5 col-sm-3"><p>Ο συνδιασμός ονόματος χρήστη και συνθηματικού που εισάγατε δεν είναι έγκυρος.</p>
            <p>Παρακαλώ Δοκιμάστε ξανά</p></div>
    {% else %}
        <p>Συμπληρώστε την παρακάτω φόρμα για να συνδεθείτε</p>
    {% endif %}

    <form class='form-horizontal' action="{% url 'login' %}" method="post">
        <div class="form-group">
            <label class="control-label col-sm-6">Όνομα χρήστη</label>
            <div class="col-sm-1">{{ form.username }}</div>
       </div>
        <div class="form-group">
            <label class="control-label col-sm-6">Συνθηματικό</label>
            <div class="col-sm-1">{{ form.password }}</div>
       </div>
        {% csrf_token %}

            <div class="form-group">
                <div class="col-sm-offset-6 col-sm-1">
                    <button type="submit" class="file-control btn btn-default">Σύνδεση</button>
                </div>
            </div>


        <input type="hidden" name="next" value="{{ next }}"/>


    </form>
<a class="col-sm-offset-6 col-sm-3 text-left" href="{% url "password_reset" %}">Ξεχάσατε το συνθηματικό σας???</a></p>
</div>

{% endblock %}