{% extends "account/base.html" %}

{% block content %}
     <div class="container-fluid text-center" style="margin-top: 50px">
 <h2>Δημιουργία νέου κωδικού πρόσβασης</h2>
    {% if validlink %}
        <p>Εισάγετε τον νέο κωδικό πρόσβασης δύο φορές: </p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Ενημέρωση κωδικού πρόσβασης" /></p>
        </form>
     {% else %}
        <p>Ο σύνδεσμος για ενημέρωση του κωδικού πρόσβασής σας δεν είναι έγκυρος.  Ζητήστε νέα ενημέρωση </p>
    {% endif %}</div>
{% endblock %}