{% extends "account/base.html" %}
{% load widget_tweaks %}


{% block content %}
     <div class="container text-center" style="margin-top: 50px">
<h1>Αλλαγή Συνθηματικού</h1>
<p>Συμπληρώστε την παρακάτω φόρμα για να αλλάξετε το συνθηματικό σας</p>


<form class="form-horizontal" action="." method="post">
    <div class="form-group">
        <label class="control-label col-sm-6">Παλιός κωδικός</label>
           <div class="col-sm-3">{{ form.old_password.errors }} {% render_field form.old_password class="form-control" placeholder="Εισάγετε το συνθηματικό προς αλλαγή"%}</div>
       </div>
    <div class="form-group">
        <label class="control-label col-sm-6 text-right">Νέος κωδικός</label>
        <div class="col-sm-3">{{ form.new_password1.errors }} {% render_field form.new_password1 class="form-control" placeholder="Εισάγετε το νέο συνθηματικό"%}</div>

       </div>
     <div class="form-group">
        <label class="control-label col-sm-6 text-right">Επαλήθευση νέου κωδικού</label>
         <div class="col-sm-3">{{ form.new_password2.errors }} {% render_field form.new_password2 class="form-control" placeholder="Επιβεβαίωση νέου συνθηματικού"%}</div>

       </div>{% csrf_token %}
<div class="form-group">
      <div class="col-sm-offset-6 col-sm-1">

       <button type="submit" class="btn btn-default" style="width: 265px"><div style="font-size: 90%; letter-spacing: 3px; ">Αλλαγή κωδικού</div></button>
      </div></div>

</form></div>
{% endblock %}