{% extends 'account/base.html' %}

{% block content %}
<div class="container text-center" style="margin-top: 80px">


    <a href="{% url "register" %}"><div class="thumbnail col-sm-6"><h1><b style="color: whitesmoke">Εγγραφή χρήστη</b> </h1><img style="max-height: 400px" src="/media/brick.jpg"></div></a>
    <a href="{% url 'advanced_register' %}"><div class="thumbnail col-sm-6"> <h1><b style="color: whitesmoke">Εγγραφή διοργανωτή</b></h1><img style="max-height: 400px" src="/media/brick.jpg"></div></a>
</div>

{% endblock %}