{% extends "account/base.html" %}

{% block content %}

    <h1>create an account</h1>
    <p>please sign up using the following form:</p>
    <form action="." method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <b> Εισάγετε την ημέρα γενεθλίων σας</b>>
      <input type="date" name="bday"
    oninvalid="this.setCustomValidity('Παρακαλώ εισάγετε την ημερομηνία γέννησης')"
    oninput="setCustomValidity('')"  required/>
        {% csrf_token %}
        <p><input type="submit" value="Create my account"></p>
    </form>

{% endblock %}