<div class="month" style="background-image: linear-gradient(#000000, #5f5f62)";>
  <ul style="list-style: none">
      <li class="prev" style="padding-top: 35px"><a href="#" class="calendarBF" data-week="minus">&#10094;</a></li>
      <li class="next" style="padding-top: 35px"><a href="#" class="calendarBF" data-week="plus">&#10095;</a></li>
      <li class="text-center"><p id="month" style="padding-top: 25px; margin-bottom: 0px"></p>
      <span style="font-size:18px" id="year"></span>
    </li>
  </ul>




<ul style="list-style-type: none;">
        {% for pin in pinaks %}
            <a href="{% url "home_page" %}?date={{ pin.year }}-{{ pin.month }}-{{ pin.day }}"> <li id="miskas-calendar" class="text-center"><h3 style="color: whitesmoke; font-size: 70%; padding: 10px"><span id="day{{ pin.day }}"></span>   {{ pin.day }}</h3></li></a>
<script>

    document.getElementById("day{{ pin.day }}").innerHTML = miskaks2();


    function miskaks2 () {
        var d = new Date("{{ pin.month }}/"+"{{ pin.day }}/"+"{{ pin.year }}");
        var day_name = ['Κυρ','Δευ','Τρί','Τετ','Πέμ','Πάρ','Σάβ'];
        day_name=day_name[d.getDay()];
        return day_name;
    }
</script>
{% endfor %}
<br>
    </ul>
</div>