{% extends 'account/base.html' %}
{% load account_tags %}
{% block content %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!--no Indicators -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        <div class="item active">
        <img src="{{ event.image.url }}" alt="New York">
        <div class="carousel-caption">


            <p><i>{{ event.information.dateTime }}</i></p>
        </div>
      </div>

    </div>

    <!--no Left and right controls -->

</div>


<h2 class="text-center" style="margin: 0;padding-top: 0px;padding-bottom: 3px;color: black; background-color: #e5e5e8; opacity: 0.8;letter-spacing: 10px;">{{ event.title }}</h2>
<div class="row1">
    <div class="container-fluid col-sm-2 text-center" style="background-color: #29292c; color: #dcdcdc; opacity: 0.9; border-radius: 15px">
{% if request.user|has_group:"advanced_user" %}
{% include "side_bar.html" %}
    {% else %}<p>Για τους φλώρους απλούς χρήστες δεν έχει πλαινή μπάρα :D</p>
{% endif %}



</div>




    <div class="container-fluid col-sm-8 panel panel-default" style="border-radius: 10px">
<div class="text-center">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Η Εκδήλωση</a></li>
    <li><a data-toggle="tab" href="#menu1">Πληροφορίες</a></li>
    <li><a data-toggle="tab" href="#menu2">Τοποθεσία</a></li>
      <li><a data-toggle="tab" href="#menu3">Σχόλια</a></li>
  </ul>
</div>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">


        <div class="col-sm-8 col-sm-offset-2">
            <p><h2><span class="glyphicon glyphicon-info-sign"></span>Περιγραφή</h2></p>
           <p>{{ event.description }}</p>
            <p><em><span class="glyphicon glyphicon-pushpin"></span>Κατηγορία:</em> <h4 style="border-radius: 40%">{{ event.section }}</h4></p>
            <p><span class="glyphicon glyphicon-calendar"></span><em>Ημερομηνία ανάρτησης Δημοσίευσης: {{ event.created }}</em></p>

      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="col-sm-8 col-sm-offset-2">
      <h2><span class="glyphicon glyphicon-info-sign"></span>Πληροφορίες Εκδήλωσης</h2>
      <p><span class="glyphicon glyphicon-calendar"><span class="glyphicon glyphicon-time"></span></span>Ημερομηνία και ώρα Εκδήλωσης: {{ event.information.dateTime }}</p>
        <p>Τιμή εισητηρίου: {{ event.information.ticket_price }} <span class="glyphicon glyphicon-euro"></span></p>
        <p><span class="glyphicon glyphicon-shopping-cart"></span>Προπώληση: {{ event.information.presale }}</p>
        </div></div>
    <div id="menu2" class="tab-pane fade">
      <h2>Τοποθεσία Εκδήλωσης</h2>
      <p>Όνομα Τοποθεσίας: {{ event.location.name }}</p>
    </div>
      <div id="menu3" class="tab-pane fade">

          {% for comment in comments %}
       <div class="media">
    <div class="media-left">
      <img src="{% if comment.user.profile %}{{ comment.user.profile.photo.url }}{% else %}{{ comment.user.advanced_profile.photo.url }}{% endif %}" class="media-object" style="width:45px; height:45px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{ comment.user }} <small><i>Posted on {{ comment.created }}</i></small></h4>
        <div style="width: 400px; overflow-wrap: break-word">{{ comment.body|linebreaks }}</div>
    </div>
       </div>
        {% empty %}
        <p>There are no comments yet!!!</p>
    {% endfor %}
    {% if new_comment  %}
        <h2>Your comment has been added!!!</h2>
    {% endif %}
         <h2>Add a new comment</h2>
        <form action="." method="post" style="color: black">
            {{ comment_form.as_p }}
            {% csrf_token %}
        <input type="submit" value="add comment">
        </form>
    </div>
  </div>
    </div>
<div class="container-fluid col-sm-2">linvl g btgv etge gerg erge rge rgergr grgrgrsvvdrdrv evrvdrvrvr vvrv</div>

</div>
{% endblock %}

{% block domready %}
{% endblock %}