{% extends 'account/base.html' %}
{% load widget_tweaks %}


{% block content %}



    <div id="login" class="container text-center" style="margin-top: 50px;">
<div> <h1>Δημιουργία Εκδήλωσης!!!!</h1>

    {% if event.errors or information.errors or location.errors %}
        <p>Προέκυψε πρόβλημα κατά την συμπλήρωση της φόρμας</p>
    {% else %}
        <p>Συμπληρώστε την παρακάτω φόρμα για να δημιουργήσετε μία νέα εκδήλωση</p>
    {% endif %}

</div>
<div class="login-form">



<ul class="nav nav-tabs">
    <li class="active"><a href="#event-tab" data-toggle="tab">Η Εκδήλωση <i class="fa"></i></a></li>
    <li><a href="#information-tab" data-toggle="tab">Πληροφορίες <i class="fa"></i></a></li>
    <li><a href="#location-tab" data-toggle="tab">Τοποθεσία <i class="fa"></i></a></li>
</ul>

<form id="accountForm" method="post" class="form-horizontal" action="." enctype="multipart/form-data">
    <div class="tab-content">
        <div class="tab-pane fade in active" id="event-tab">
                {{ event.media }}

        <div class="form-group">
            {{ event.title.errors }}
            <label class="control-label col-sm-4">{{ event.title.label }}</label>
            <div class="col-sm-6"> {% render_field  event.title class="form-control" placeholder="Εισάγετε τον τίτλο της εκδήλωσης" %}</div>
        </div>
        <div class="form-group">
            {{ event.url.errors }}
            <label class="control-label col-sm-4">Ιστοσελίδα εκδηλωτή</label>
            <div class="col-sm-6"> {% render_field  event.url class="form-control" placeholder="Εισάγετε την ιστοσελίδα του εκδηλωτή" %}</div>
        </div>
       <div class="form-group">
            {{ event.image.errors }}
            <label class="control-label col-sm-4" style="margin-right: 14px">Αφίσα/εξώφυλλο εκδήλωσης</label>
            <div class="col-sm-6 btn btn-default btn-file" style="width: 90%;max-width: 557px">{% render_field event.image class="form-control" %}<div style="font-size: 90%; letter-spacing: 3px;">Επιλέξτε εξώφυλλο/αφίσα</div></div>
        </div>
        <div class="form-group">
            {{ event.description.errors }}
            <label class="control-label col-sm-4">Σύντομη περιγραφή</label>
            <div class="col-sm-6"> {% render_field  event.description class="form-control" placeholder="Εισάγετε σύντομη περιγραφή" %}</div>
        </div>
        <div class="form-group">
            {{ event.section.errors }}
            <label class="control-label col-sm-4">{{ event.section.label }}</label>
            <div class="col-sm-6"> {% render_field  event.section class="form-control" placeholder="Εισάγετε το είδος της εκδήλωσης" %}</div>
        </div>
        <div class="form-group">
            {{ event.content.errors }}
            <label class="control-label col-sm-4">Περιεχόμενο</label>
            <div class="col-sm-8"> {{ event.content }}</div>
        </div>
        <div class="form-group">
            {{ event.tags.errors }}
            <label class="control-label col-sm-4">{{ event.tags.label }}</label>
            <div class="col-sm-6"> {% render_field  event.tags class="form-control tagman" placeholder="Προσθέστε ετικέτα με διαχωριστικό κόμμα, ή επιλέξτε από την λίστα" %}</div>
        </div>

        <!--Tag select list-->
        <div class="form-group">
          <label for="sel2" class="control-label col-sm-4">Ετικέτες(πολλαπλή επιλογή)</label>
        <div  class="col-sm-6" >
      <select  class="form-control" id="sel2">
        {% for tag in tags %}<option>{{ tag }}</option>{% endfor %}

      </select></div>
        </div>


        </div>
     <script>
$(document).ready(function(){
<!--$('#psoli').append($('#sel2 option:selected').text()+', ');-->
        // language=JQuery-CSS
    $('#sel2').find('option').on('click', function() {
            var tags = $('#sel2').find('option:selected').text();
            var input_tag = $('.tagman').val();
            $('.tagman').val(input_tag+", "+tags);
            });

       });

    </script>

        <div class="tab-pane fade" id="information-tab">
            {{ information.media }}

        <div class="form-group">
            {{ information.dateTime.errors }}
            <label class="control-label col-sm-4">{{ information.dateTime.label }}</label>
            <div class="col-sm-6"> {% render_field  information.dateTime class="form-control" placeholder="Προσθέστε την ημερομηνία και ώρα της εκδήλωσης" %}</div>
        </div>

            <div class="form-group">
            {{ information.ticket_price.errors }}
            <label class="control-label col-sm-4">{{ information.ticket_price.label }}</label>
            <div class="col-sm-6"> {% render_field  information.ticket_price class="form-control" placeholder="Προσθέστε την τιμή εισητηρίου" %}</div>
        </div>
         <div class="form-group">
            {{ information.presale.errors }}
            <label class="control-label col-sm-4">{{ information.presale.label }}</label>
            <div class="col-sm-6"> {% render_field  information.presale class="form-control" placeholder="Προσθέστε πληροφορίες προπώλησης" %}</div>
        </div>


            </div>


     <div class="tab-pane fade" id="location-tab">
{{ location.media }}

        <div class="form-group">
            {{ location.name.errors }}
            <label class="control-label col-sm-4">Όνομασία χώρου εκδήλωσης</label>
            <div class="col-sm-6">{{ location.name|add_class:'form-control'|append_attr:"placeholder:Εισάγετε το όνομα του χώρου εκδήλωσης" }}</div>
        </div>
          <div class="form-group">
            {{ location.address.errors }}
            <label class="control-label col-sm-4">Διεύθυνση χώρου εκδήλωσης</label>
            <div class="col-sm-6">{{ location.address|add_class:'form-control'|append_attr:"placeholder:Εισάγετε τη διεύθυνση του χώρου εκδήλωσης" }}</div>
        </div>
          <div class="form-group">
            {{ location.tel.errors }}
            <label class="control-label col-sm-4">Τηλέφωνο χώρου εκδήλωσης</label>
            <div class="col-sm-6">{{ location.tel|add_class:'form-control'|append_attr:"placeholder:Εισάγετε τηλέφωνο του χώρου εκδήλωσης" }}</div>
        </div>
         <div class="form-group">
            {{ location.city.errors }}
            <label class="control-label col-sm-4">Πόλη εκδήλωσης</label>
            <div class="col-sm-6">{{ location.city|add_class:'form-control'|append_attr:"placeholder:Εισάγετε την πόλη της εκδήλωσης" }}</div>
        </div>
        <div class="form-group">
            {{ location.site.errors }}
            <label class="control-label col-sm-4">Ιστοσελίδα χώρου εκδήλωσης</label>
            <div class="col-sm-6">{{ location.site|add_class:'form-control'|append_attr:"placeholder:Εισάγετε ιστοσελίδα του χώρου εκδήλωσης" }}</div>
        </div>
        <div class="form-group">
            {{ location.email.errors }}
            <label class="control-label col-sm-4">E-mail χώρου εκδήλωσης</label>
            <div class="col-sm-6">{{ location.email|add_class:'form-control'|append_attr:"placeholder:Εισάγετε e-mail του χώρου εκδήλωσης" }}</div>
        </div>

         <div class="form-group">
             {{ location.position.errors }}
           <label class="control-label col-sm-4">Τοποθεσία χώρου εκδήλωσης</label>
           <div class="col-sm-6">{{ location.position|add_class:'form-control'|append_attr:"placeholder:Εισάγετε συντεταγμένες" }}</div>
       </div>


<script>
    $("a[href='#location-tab']").on('shown.bs.tab', function myMap() {


  var myCenter = new google.maps.LatLng(41.878114, -87.629798);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 10};
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({position:myCenter});
  marker.setMap(map);
  google.maps.event.addListener(marker,'click',function() {
    var infowindow = new google.maps.InfoWindow({
      content:"Διάλεξε τοποθεσία"
    });
  infowindow.open(map,marker);
  });
});
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt3jxm41PYXEQRwTfyzzK2Ngq-nMn3GO8&callback=myMap"></script>
     </div>  </div>


    <div class="form-group" style="margin-top: 15px;">
        {% csrf_token %}
        <div class="col-sm-6 col-sm-offset-4">
             <button type="submit" class="btn btn-default" style="width:100%"><div style="font-size: 90%; letter-spacing: 3px; ">Δημιουργία λογαριασμού</div></button>
        </div>
    </div>
</form>

<script>



$(document).ready(function() {

    $('#accountForm')
        .formValidation({
            framework: 'bootstrap',
            // Only disabled elements are excluded
            // The invisible elements belonging to inactive tabs must be validated
            excluded: [':disabled'],
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                fullName: {
                    validators: {
                        notEmpty: {
                            message: 'The full name is required'
                        }
                    }
                },
                company: {
                    validators: {
                        notEmpty: {
                            message: 'The company name is required'
                        }
                    }
                },
                address: {
                    validators: {
                        notEmpty: {
                            message: 'The address is required'
                        }
                    }
                },
                city: {
                    validators: {
                        notEmpty: {
                            message: 'The city is required'
                        }
                    }
                }
            }
        })
        .on('err.field.fv', function(e, data) {
            // data.fv --> The FormValidation instance

            // Get the first invalid field
            var $invalidFields = data.fv.getInvalidFields().eq(0);

            // Get the tab that contains the first invalid field
            var $tabPane     = $invalidFields.parents('.tab-pane'),
                invalidTabId = $tabPane.attr('id');

            // If the tab is not active
            if (!$tabPane.hasClass('active')) {
                // Then activate it
                $tabPane.parents('.tab-content')
                        .find('.tab-pane')
                        .each(function(index, tab) {
                            var tabId = $(tab).attr('id'),
                                $li   = $('a[href="#' + tabId + '"][data-toggle="tab"]').parent();

                            if (tabId === invalidTabId) {
                                // activate the tab pane
                                $(tab).addClass('active');
                                // and the associated <li> element
                                $li.addClass('active');
                            } else {
                                $(tab).removeClass('active');
                                $li.removeClass('active');
                            }
                        });

                // Focus on the field
                $invalidFields.focus();
            }
        });
});


</script>

</div>
    </div>

{% endblock %}