{% extends 'account/base.html' %}
{% block content %}
<br><br>
    <div class="row container-fluid" style="margin: 0">



    <!--likes chart-->
     <div class="col-sm-6 text-center">
<h2 style="height: 60px;letter-spacing: 4px">Στατιστικά θετικών ψήφων</h2>

<div id="piechart2"></div>

    <h2 style="letter-spacing: 4px">Θετικές ψήφοι της εκδήλωσης</h2>

         <div><b>{{ events_likes }}</b> Θετικές ψήφοι σε σύνολο <b>{{ events_views }}</b> προβολών</div>
</div>

     <!--registered chart-->
     <div class="col-sm-6 text-center">
<h2 style="height: 60px; letter-spacing: 4px">Στατιστικά εγγεγραμμένων χρηστών</h2>

<div id="piechart3"></div>

    <h2 style="letter-spacing: 4px">Εγγεγραμμένοι χρήστες στην εκδήλωση</h2>
         <div><b>{{ events_registered }}</b> χρήστες έχουν εγγραφεί σε σύνολο <b>{{ events_views }}</b> προβολών</div>
</div></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart2);
google.charts.setOnLoadCallback(drawChart3);




// Draw the chart and set the chart values
function drawChart2() {
  var data2 = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],

  ['Σύνολο θετικών ψήφων', {{ events_likes }}],
       ['Επισκέπτες που δεν έχουν βαθμολογήσει', {{ events_views}}-{{ events_likes }}],

]);

  // Optional; add a title and set the width and height of the chart
  var options2 = { 'is3D':true, 'title':'my total likes chart', 'width':'100%', 'height':400,
      'legend': {'position': 'top', 'maxLines': 8}};

  // Display the chart inside the <div> element with id="piechart"
  var chart2 = new google.visualization.PieChart(document.getElementById('piechart2'));
  chart2.draw(data2, options2);
}

// Draw the chart and set the chart values
function drawChart3() {
  var data3 = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],

  ['Σύνολο εγγεγραμμένων χρηστών', {{ events_registered }}],
   ['Επισκέπτες που δεν έχουν εγγραφεί', {{ events_views}}-{{ events_registered }}],
]);

  // Optional; add a title and set the width and height of the chart
  var options3 = { 'is3D':true, 'title':'my total likes chart', 'width':'100%', 'height':400,
      'legend': {'position': 'top', 'maxLines': 8}};

  // Display the chart inside the <div> element with id="piechart"
  var chart3 = new google.visualization.PieChart(document.getElementById('piechart3'));
  chart3.draw(data3, options3);
}
<!--window resize-->
$(window).resize(function(){

	  	drawChart2();
	  	drawChart3()
	});
</script>
{% endblock %}