{% extends 'account/base.html' %}
{% load account_tags %}
{% block content %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!--no Indicators -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        <div class="item active">
        <img src="{{ event.image.url }}" alt="New York">
        <div class="carousel-caption">


            <p><i>{{ event.information.dateTime }}</i></p>
        </div>
      </div>

    </div>

    <!--no Left and right controls -->

</div>

<!--Title-->
<h1 id="lista-ekdiloseon-title" class="text-center"  style="margin: 0;padding-top: 0px;padding-bottom: 3px;color: #d5d5d5 !important;
      background-image: linear-gradient(#000000, #5f5f62); opacity: 0.8;letter-spacing: 10px; font-size: 140%">{{ event.title }} - Ανεβασμένα mp3</h1>



<div class="row1">
    <!--sidebar-->
    <div class="container col-sm-2 text-left" style="background-image: linear-gradient(#000000, #5f5f62); color: #f1f1f1; border-radius: 4px">
{% if request.user|has_group:"advanced_user" %}
{% include "side_bar.html" %}
    {% else %}<p>Για τους φλώρους απλούς χρήστες δεν έχει πλαινή μπάρα :D</p>
{% endif %}

    <!--uploads sidebar-->
{% include "uploads_side_bar.html" %}

</div>




    <div class="container-fluid col-sm-8 panel panel-default" style="border-radius: 10px">
<div class="text-center">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Mp3s</a></li>
    <li><a data-toggle="tab" href="#menu1">Ανεβάστε ένα Mp3</a></li>

      <li><a data-toggle="tab" href="#menu3">Σχόλια</a></li>
  </ul>
</div>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">


        <div class="text-center">
            <h2>Προβολή ανεβασμένων mp3</h2>
      <p>Σκρολλάρετε προς τα κάτω για να δείτε όλα τα mp3!!!</p>
        <div id="mp3_uploads_list">
           {% include "mp3_list.html" %}

        </div>

      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="col-sm-8 col-sm-offset-2">
      <h2><span class="glyphicon glyphicon-info-sign"></span>Ανεβάστε μουσική σε μορφή mp3</h2>
{% if user_registered %}
    <form action="." method="post" enctype="multipart/form-data">
    {{ mp3_form.as_p }}

    {% csrf_token %}
    <input type="submit" value="Ανέβασέ το!" style="color: black">
    </form>
 {% else %}<h2>Θα πρέπει να είστε εγγεγραμμένος στην εκδήλωση για να ανεβάσεις υλικό.
        </h2><p>Κάνε εγγραφή στην εκδήλωση και ανανέωσε την σελίδα</p>{% endif %}
        </div></div>

      <div id="menu3" class="tab-pane fade">
          <div class="col-sm-8 col-sm-offset-2 text-left">
           {% if new_comment  %}
        <h2>Το σχόλιό σας έχει δημοσιευτεί</h2>
    {% endif %}
           <h2>Προσθέστε ένα νέο σχόλιο</h2>
        <form action="." method="post" style="color: black">
            {{ comment_form.body }}
            {% csrf_token %}<br>
        <input class="btn btn-default" type="submit" value="κοινοποίηση σχολίου">
        </form>
          {% for comment in comments %}
       <div class="media">
    <div class="media-left media-middle">
      <img src="{% if comment.user.profile %}{{ comment.user.profile.photo.url }}{% else %}{{ comment.user.advanced_profile.photo.url }}{% endif %}" class="media-object" style="width:45px; height:45px;object-fit: cover;">
    </div>
    <div class="media-body">
        <h3 class="media-heading text-left" style="margin-bottom: 0px; margin-top: 5px;"><strong>{{ comment.user }}</strong><span><small><i> {{ comment.created }}</i></small></span> </h3>



    </div> <div class="text-left" style="overflow-wrap: break-word"><p>{{ comment.body|linebreaks }}</p></div>
       </div>
        {% empty %}
         <p>Δεν έχουν αναρτηθεί σχόλια ακόμα</p>
    {% endfor %}


    </div>
  </div>
  </div></div>
    <!--right column-->
   <div class="container-fluid col-sm-2 text-left" style="margin: 0">

       {% include "right_column-event-details.html" %}
    </div></div>
{% endblock %}

{% block domready %}
      $('a.like').click(function(e){
        e.preventDefault();
        $.post('{% url "like" %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action'),
            },
        function(data){
            if (data['status'] == 'ok'){
                  var previous_action = $('a.like').data('action');
                  $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
                  $('a.like').text(previous_action == 'like' ? 'Ακύρωση θετικής ψήφου' : 'Πρόσθεση θετικής ψήφου');
                   $(".like_glyphicon").toggleClass("glyphicon-thumbs-up glyphicon-thumbs-down");

                  var previous_likes = parseInt($('#total').text());
                  $('#total').text(previous_action == 'like' ? previous_likes +1 : previous_likes -1);
                                }
                    }
    );
    });
    <!--register ajax call-->
     $('a.register').click(function (e) {
        e.preventDefault();
        $.post('{% url 'event_register' %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action'),
            },
        function (data) {
            if (data['status'] == 'ok'){
                var previous_action = $('a.register').data('action');
                $('a.register').data('action', previous_action == 'register' ? 'unregister' : 'register');
                $('a.register').text(previous_action == 'register' ? 'Ακύρωση συμμετοχής' : 'Δηλώστε Συμμετοχή');
                 $(".register-glyphicon").toggleClass("glyphicon-plus-sign glyphicon-minus-sign");
                var previous_registered = parseInt($('.total-registered').text());
                $('.total-registered').text(previous_action == 'register' ? previous_registered +1 : previous_registered -1);
            }

        });

    });
    <!--ajax paginator-->

 var page = 1;
 var empty_page = false;
 var block_request = false;
    $(window).scroll(function() {
        var margin = $(document).height()-750;
        if ($(window).scrollTop() > margin && empty_page==false && block_request==false){
            block_request = true;
            page += 1;
            $.get('?page='+page, function(data) {
                if (data==('')){
                    empty_page = true;
                }else {
                    block_request = false;
                    $('#mp3_uploads_list').append(data);


                }



            });

        }

    });
{% endblock %}