{% extends 'account/base.html' %}
{% block content %}
<br><br>
    <div class="row container-fluid" style="margin: 0">
    <div class="col-sm-4 text-center">
<h2 style="height: 60px">Στατιστικά προβολών</h2>

<div id="piechart"></div>


    <h2>Προβολές για κάθε εκδήλωση</h2>
{% for event in events_views %}
    <div>  <a href="{{ event.get_absolute_url }}"> {{ event.title }}</a>, {{ event.n }}</div>
{% endfor %}</div>


    <!--likes chart-->
     <div class="col-sm-4 text-center">
<h2 style="height: 60px">Στατιστικά θετικών ψήφων</h2>

<div id="piechart2"></div>

    <h2>Θετικές ψήφοι για κάθε εκδήλωση</h2>
{% for event in events_likes %}
    <div> <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>, {{ event.n }}</div>
{% endfor %}</div>

     <!--registered chart-->
     <div class="col-sm-4 text-center">
<h2 style="height: 60px; letter-spacing: 2px">Στατιστικά εγγεγραμμένων χρηστών</h2>

<div id="piechart3"></div>

    <h2 style="letter-spacing: 2px">Εγγεγραμμένοι χρήστες για κάθε εκδήλωση</h2>
{% for event in events_registered %}
    <div> <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>, {{ event.n }}</div>
{% endfor %}</div></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);
google.charts.setOnLoadCallback(drawChart2);
google.charts.setOnLoadCallback(drawChart3);


// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
      {% for event in events_views %}
  ['{{ event.title }}', {{ event.n }}],
      {% endfor %}
]);

  // Optional; add a title and set the width and height of the chart
  var options = { 'is3D':true, 'title':'Προβολές', 'width':'100%', 'height':400,
      'legend': {'position': 'top', 'maxLines': 8}};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}

// Draw the chart and set the chart values
function drawChart2() {
  var data2 = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
      {% for event in events_likes %}
  ['{{ event.title }}', {{ event.n }}],
      {% endfor %}
]);

  // Optional; add a title and set the width and height of the chart
  var options2 = { 'is3D':true, 'title':'Θετικές ψήφοι', 'width':'100%', 'height':400,
      'legend': {'position': 'top', 'maxLines': 8}};

  // Display the chart inside the <div> element with id="piechart"
  var chart2 = new google.visualization.PieChart(document.getElementById('piechart2'));
  chart2.draw(data2, options2);
}

// Draw the chart and set the chart values
function drawChart3() {
  var data3 = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
      {% for event in events_registered %}
  ['{{ event.title }}', {{ event.n }}],
      {% endfor %}
]);

  // Optional; add a title and set the width and height of the chart
  var options3 = { 'is3D':true, 'title':'Εγγεγραμμένοι χρήστες', 'width':'100%', 'height':400,
      'legend': {'position': 'top', 'maxLines': 8}};

  // Display the chart inside the <div> element with id="piechart"
  var chart3 = new google.visualization.PieChart(document.getElementById('piechart3'));
  chart3.draw(data3, options3);
}
<!--window resize-->
$(window).resize(function(){
	  	drawChart();
	  	drawChart2();
	  	drawChart3()
	});
</script>
{% endblock %}