

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn closebtn-left" onclick="closeNav()"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a href="{% url 'event_create' %}">Δημιουργία Εκδήλωσης</a>
  <a href="{% url 'organization_charts' %}">Στατιστικά Εκδηλώσεων</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>
{% if event %}
    {% if event.user == request.user  %}
   <!--event statistics-->
       <a href="{{ event.get_absolute_statistics_url }}"> <div><span class="glyphicon glyphicon-info-sign"></span>Στατιστικά Εκδήλωσης</div></a>
        {% endif %}
    {% endif %}


<h2>Εργαλεία Διοργανωτή</h2>
<p>Επιλέξτε τον σύνδεσμο "Εργαλεία" για δημιουργία νέας εκδήλωσης, προβολή στατιστικών και άλλα"</p>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Εργαλεία</span>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "220px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>

