


{% for upload in video_uploads %}

    <div class='post'>
       <div class='date'>
            <p>published : {{ upload.created }} by {{ upload.user }}</p>
        </div>



 <video id="my-audio" width=80% preload="auto" controls poster="\media\brick.jpg">
  <source src="{{ upload.video.url }}" type="video/mp4">
 <source
    src="{{ upload.video.url }}"
    type="video/webm">

<source
    src="{{ upload.video.url }}"
    type="video/ogg">
  Your browser doesn't support HTML5 video tag.
</video>


 </div>
   {% empty %}

        <p>There are no video uploads yet!!!!</p>

{% endfor %}


