


{% for upload in video_uploads %}

    <div class='post thumbnail'>
       <div class='date'>
            <p>Δημοσιεύτηκε στις : {{ upload.created }} από τον χρήστη {{ upload.user }}</p>
        </div>



 <video id="my-audio" width=80% preload="auto" controls>
  <source src="{{ upload.video.url }}" type="video/mp4">
 <source
    src="{{ upload.video.url }}"
    type="video/webm">

<source
    src="{{ upload.video.url }}"
    type="video/ogg">
  Ο browser σας δεν επιτρέπει την αναπαραγωγή του video
</video>


 </div>
   {% empty %}

        <p>Δεν έχουν αναρτηθεί video ακόμα</p>

{% endfor %}


