{% extends 'account/base.html' %}
{% block content %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for i in events %}
      <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"
          {% if forloop.counter0 == 0 %}class="active">{% endif %}</li>

         {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      {% for event in events %}
        <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
        <img src="{{ event.image.url }}" alt="New York" style="width: 100%; height: 700px; object-fit: cover;" >
        <div class="carousel-caption">
          <h3>{{ event.title }}</h3>
          <p>{{ event.description|truncatewords:20|linebreaks }}</p>
            <p><i>Δημοσιεύτηκε στις {{ event.created }}</i></p>
        </div>
      </div>
        {% endfor %}
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<!-- Container (The Band Section) -->
<div id="band" class="container text-center">
  <h3>Ιστοχώρος Εκδηλώσεων</h3>
  <p><em>Αγαπόντας την τέχνη...</em></p>
  <p>Η ιστοσελίδα έχει δημιουργηθεί ώστε να παρέχει στους κοινούς χρήστες μία λεπτομερή εικόνα και ενημέρωση ώς ατζέντα και ευρετήριο για διάφορα είδη εκδηλώσεων που λαμβάνουν χώρα καθημερινά, καθώς επίσης να αναδεικνύει και να προωθεί τους καλλιτέχνες και κάθε είδους πολιτιστικά/πολιτισμικά δρώμενα .
      Οι χρήστες εγγεγραμένοι ώς διοργανωτές, είναι αυτοί οι οποίοι δημιουργούν τις δημοσιεύσεις στην ιστοσελίδα, δίνοντάς τους την ευκαιρία να αναδείξουν έναν χώρο εκδηλώσεων, καλλιτέχνες, και επιχειρηματικά την προσωπική τους γνωστοποίηση και προώθηση.
  </p>
    <p></p>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <p class="text-center"><strong>ΑΠΛΟΣ ΧΡΗΣΤΗΣ</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <img src="/media/simple-user.png" class="img-circle person" alt="Random Name" width="255" height="255" style="background-color: black; max-width: 80%">
      </a>
      <div id="demo" class="collapse">
       <p>Ο απλός χρήστης μπορεί να χρησιμοποιεί την ιστοσελίδα ώς ατζέντα και να ενημερώνεται για τις καθημερινές δραστηριότητες,
     και να συμμετέχει διαδραστικά.  Στην αρχική σελίδα υπάρχουν όλα τα εργαλεία για την υλοποίηση των παραπάνω.
     Μπορεί επίσης να αξιολογεί τις εκδηλώσεις, καθώς επίσης και τους διοργανωτές τους. </p>
      <p>Για να δεί ο απλός χρήστης όλες τις δημοσιεύσεις ενός διοργανωτή, θα πρέπει να τον ακολουθήσει,
      πατόντας το κουμπί "follow" στον προσωπικό του χώρο στην λίστα των διοργανωτών</p>
      <p>Για να ανεβάσει οπτικο-ακουστικό υλικό, ο χρήστης θα πρέπει να έχει εγγραφεί στην συγκεκριμένη εκδήλωση, πατόντας στο
      κουμπί "register" στον προσωπικό χώρο στην λίστα των εκδηλώσεων</p>
      <p>Στον ίδιο χώρο, πατόντας στο κουμπί "Like" μπορεί ο χρήστης να προσθέσει την θετική του ψήφο στην εκδήλωση</p>
      <p>Ο χρήστης μπορεί τέλος να σχολιάσει είτε κάποιον διοργανωτή, έιτε κάποια εκδήλωση, απλώς πατόντας στον
      προσωπικό τους χώρο στον σύνδεσμο με τίτλο "σχόλια", και ακολουθόντας τις οδηγίες</p>
                    <p> <a href="{% url "register" %}"><button class="btn">Δημιουργία λογαριασμού χρήστη</button></a></p>

      </div>
    </div>
    <div class="col-sm-6 bg-1">
      <p class="text-center"><strong>ΔΙΟΡΓΑΝΩΤΗΣ</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <img src="/media/advanced-user.png" class="img-circle person" alt="Random Name" width="255" height="255" style="background-color: black; max-width: 80%; margin-bottom: 10px">
      </a>
      <div id="demo2" class="collapse">
        <p>Ο χρήστης που εγγράφεται ώς διοργανωτής, έχει την ιδιότητα και την δυνατότητα να συντάσσει και να κοινοποιεί εκδηλώσεις, χρησημοποιόντας
        τα εργαλεία που του παρέχονται από την διαδικτυακή πλατφόρμα εκδηλώσεων.  </p>
        <p>Ο κάθε διοργανωτης μετά την εγγραφή του αποκτά τον προσωπικό του χώρο στην ιστοσελίδα, στην οποία εμφανίζονται
        όλες οι δημοσιεύσεςι του, τα στοιχεία και περιγραφή της διοργανώτριας αρχής, καθώς και μηνύματα που προέρχονται
        από κοινους χρήστες η/και διοργανωτές.</p>
        <p>Η διαδραστικότητα του διοργανωτή με τους υπόλοιπους χρήστες παρέχεται με διάφορους τρόπους, οι οποίοι αναφέρονται στην περιγραφή του απλού χρήστη.  Κάθε
        ενέργεια καταγράφεται ώς στατιστικό δεδομένο και δίνει την δυνατότητα στον διοργανωτή να γνωρίζει την συνολική απήχηση των δημοιεύσεων του (ή του ίδιου του διοργανωτή) στο
            υπόλοιπο κοινό.</p>
                    <p> <a href="{% url "advanced_register" %}"><button class="btn">Δημιουργία προφίλ διοργανωτή</button></a></p>

      </div>
    </div>
  </div>
</div>


<!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>Η ιστοσελίδα σχεδιάστηκε και κατασκευάστηκε απο τον Miskas</p>
</footer>



{% endblock %}