{% extends 'account/base.html' %}
{% load account_tags %}
{% block content %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!--no Indicators -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        <div class="item active">
        <img src="{{ user.advanced_profile.photo.url }}" alt="New York">
        <div class="carousel-caption">
 <h3 style="height: 40px; max-height: 40px; letter-spacing: 0">{{ user.advanced_profile.organization_name }}</h3>
<p>{{ user.get_full_name }}</p>
            <p><i>{{ user.date_joined }}</i></p>
        </div>
      </div>

    </div>

    <!--no Left and right controls -->

</div>

<!--Title-->
<h1 id="lista-ekdiloseon-title" class="text-center"  style="margin: 0;padding-top: 0px;padding-bottom: 3px;color: #d5d5d5 !important;
      background-image: linear-gradient(#000000, #5f5f62); opacity: 0.8;letter-spacing: 10px; font-size: 140%">{{ user.advanced_profile.organization_name }}</h1>



<div class="row1">
<div class="container-fluid col-sm-2 text-left" style="background-image: linear-gradient(#000000, #5f5f62); color: #f1f1f1; border-radius: 4px">
{% if request.user|has_group:"advanced_user" %}
{% include "side_bar.html" %}
    {% else %}<p>Για τους φλώρους απλούς χρήστες δεν έχει πλαινή μπάρα :D</p>
{% endif %}
    </div>




    <div class="container-fluid text-center col-sm-8 panel panel-default" style="border-radius: 10px; opacity: 0.9; background: url(/media/touvlo.png) repeat;">
<div>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Δημοσιευμένες Εκδηλώσεις</a></li>
    <li><a data-toggle="tab" href="#menu1">Πληροφορίες</a></li>
    <li><a data-toggle="tab" href="#menu2">Τοποθεσία</a></li>
      <li><a data-toggle="tab" href="#menu3">Σχόλια</a></li>

  </ul>
</div>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">


        <div>
             {% if request.user in user.followers.all or request.user == user %}
          <h2>Προβολή όλων των εκδηλώσεων</h2>
      <p>Σκρολλάρετε προς τα κάτω για να δείτε όλες τις εκδηλώσεις!!!</p>
        <div id="event_list">
           {% include "ajax_list.html" %}
      </div>{% else  %}
            Δεν ακολουθείτε αυτόν τον διοργανωτή για δείτε το περιεχόμενο της καρτέλλας.
                 <p>Για να ακολουθήσετε τον διοργανωτή επιλέξτε το ειδικό πλήκτρο στην δεξιά μπάρα της ιστοσελίδας</p>
   {% endif %}

      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="col-sm-8 col-sm-offset-2">
      <h2><span class="glyphicon glyphicon-info-sign"></span>Πληροφορίες Διοργανωτή</h2>
 <div class="text-left">
       <p><span class="glyphicon glyphicon-info-sign"></span> Σύντομη περιγραφή διοργανωτή/οργανισμού : {{ user.advanced_profile.description }}</p>
      <p><span class="glyphicon glyphicon-user"></span> Όνομα χρήστη διοργανωτή : {{ user.username }}</p>
      <p><span class="glyphicon glyphicon-pushpin"></span> Όνομα και επίθετο διοργανωτή : {{ user.get_full_name }}</p>
      <p><span class="glyphicon glyphicon-calendar"></span> Ημερομηνία δημιουργίας λογαριασμού : {{ user.date_joined }}</p>

      <p><span class="glyphicon glyphicon-phone"></span> Τηλέφωνο επικοινωνίας : {{ user.advanced_profile.phone_number }}</p>
      <p><span class="glyphicon glyphicon-envelope"></span> Ηλεκτρονικό ταχυδρομείο : {{ user.email }}</p>
    </div>

        </div></div>
    <div id="menu2" class="tab-pane fade">
        <div class="col-sm-8 col-sm-offset-2 text-left">
                <h2>Τοποθεσία Διοργανωτή</h2>
             <p>Όνομα οργανισμού/επιχείρησης: {{ user.advanced_profile.organization_name }}</p>
            <p><span class="glyphicon glyphicon-road"></span> Διεύθυνση διοργανωτή/οργανισμού : {{ user.advanced_profile.address }}</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Πόλη : {{ user.advanced_profile.city }}</p>
            <p>Ιστοσελίδα: <a href="{{ user.advanced_profile.site }}">{{ user.advanced_profile.site }}</a></p>
             <p>Ηλεκτρονικό ταχυδρομείο: {{ user.email }}</p>
             <p>Δείτε στον χάρτη: </p>
            <div id="map" style="width:100%;height:500px"></div>

            <script>
    $("a[href='#menu2']").on('shown.bs.tab', function myMap() {


  var myCenter = new google.maps.LatLng({{ user.advanced_profile.position }});
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 10};
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({position:myCenter});
  marker.setMap(map);
  google.maps.event.addListener(marker,'click',function() {
    var infowindow = new google.maps.InfoWindow({
      content:"{{ user.advanced_profile.organization_name }}, {{ user.advanced_profile.address }}"
    });
  infowindow.open(map,marker);
  });
});
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt3jxm41PYXEQRwTfyzzK2Ngq-nMn3GO8&callback=myMap"></script>
        </div>
    </div>
      <div id="menu3" class="tab-pane fade">
          <div class="col-sm-8 col-sm-offset-2 text-left">
          {% if new_comment  %}
        <h2>Το σχόλιό σας έχει δημοσιευτεί</h2>
    {% endif %}
           <h2>Προσθέστε ένα νέο σχόλιο</h2>
        <form action="." method="post" style="color: black">
            {{ comment_form.body }}
            {% csrf_token %}<br>
        <input class="btn btn-default" type="submit" value="κοινοποίηση σχολίου">
        </form>




          {% for comment in comments %}
       <div class="media">
    <div class="media-left media-middle">
      <img src="{% if comment.user.profile %}{{ comment.user.profile.photo.url }}{% else %}{{ comment.user.advanced_profile.photo.url }}{% endif %}" class="media-object" style="width:45px; height:45px;object-fit: cover;">
    </div>
    <div class="media-body">
        <h3 class="media-heading text-left" style="margin-bottom: 0px; margin-top: 5px;"><strong>{{ comment.user }}</strong><span><small><i> {{ comment.created }}</i></small></span> </h3>



    </div> <div class="text-left" style="overflow-wrap: break-word"><p>{{ comment.body|linebreaks }}</p></div>
       </div>
        {% empty %}
        <p>Δεν έχουν αναρτηθεί σχόλια ακόμα</p>
    {% endfor %}


    </div>
      </div></div>
  </div>
    <!--right column-->

    <!--like+modal-->
<div class="container-fluid col-sm-2">
   <!--like+modal-->

    <button type="button" class="btn btn-default text-left" style="width: 100%; padding-left: 0" data-toggle="modal" data-target="#myModal">
          {% with  user.followers.count as total_followers  %}
             <div class="text-left" style="font-size: 100%;letter-spacing: 3px; padding-left: 20px;"><span id="total" class="badge" style="background-color: #848484">{{ total_followers }}</span> Ακόλουθοι</div>
         {% endwith %}</button><br>
<div class="btn btn-default">
   <div class="media" style="margin: 0">
       <div class="media-left"> <span class="follow-glyphicon glyphicon {% if not request.user in user.followers.all %}glyphicon-ok-sign{% else %}glyphicon-remove-sign{% endif %}" style="font-size: 130%"></span></div>
     <div class="media-body">  <div class="text-left" style="font-size: 95%; width: 100%">
   <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow-button">
        {% if request.user not in user.followers.all %}
            Ακολουθήστε
        {% else %}
            Ακύρωση ακολουθίας
        {% endif %}
    </a>
     </div></div></div></div>

  <!-- Modal -->
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="color: black">Ακόλουθοι</h4>
        </div>
        <div class="modal-body">

            {% for follower in user.followers.all %}


                <div class="media">
    <div class="media-left">
      <img src="{% if follower.profile %}{{ follower.profile.photo.url }}{% else %}{{ follower.advanced_profile.photo.url }}{% endif %}" class="media-object" style="width:45px; height:45px;object-fit: cover">
    </div>
    <div class="media-body">

        <p style="color: black">{{ follower.username }}</p>
    </div>
       </div>


            {% empty %}<p style="color: black">Κανένας δεν ακολουθεί ακόμα τον χρήστη {{ user.username }}</p>
        {% endfor %}</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Κλείσιμο</button>
        </div>
      </div>

    </div>
  </div>



</div></div>
{% endblock %}

{% block domready %}


    $('a.follow-button').click(function(e) {
        e.preventDefault();
        $.post(
            '{% url 'user_follow' %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
        function(data) {
                if (data['status']=='ok') {
                    var previous_action = $('a.follow-button').data('action');
                //toggle data action
                    $('a.follow-button').data('action', previous_action=='follow'?'unfollow':'follow');

                //toggle link text
                    $('a.follow-button').text(previous_action=='follow'?'Ακύρωση ακολουθίας':'Ακολουθήστε');

                 //toggle glyphicons
                   $(".follow-glyphicon").toggleClass("glyphicon-ok-sign glyphicon-remove-sign");

                //update total followers
                    var previous_followers = parseInt($('#total').text());
                    $('#total').text(previous_action=='follow'? previous_followers+1: previous_followers-1);

            }


        }
        );

    });
<!--ajax paginator-->

 var page = 1;
 var empty_page = false;
 var block_request = false;
    $(window).scroll(function() {
        var margin = $(document).height()-750;
        if ($(window).scrollTop() > margin && empty_page==false && block_request==false){
            block_request = true;
            page += 1;
            $.get('?page='+page, function(data) {
                if (data==('')){
                    empty_page = true;
                }else {
                    block_request = false;
                    $('#event_list').append(data);


                }



            });

        }

    });


{% endblock %}