{% extends 'account/base.html' %}
{% load account_tags %}
{% block content %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!--no Indicators -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        <div class="item active">
        <img src="{{ user.advanced_profile.photo.url }}" alt="New York">
        <div class="carousel-caption">
 <h3 style="height: 40px; max-height: 40px; letter-spacing: 0">{{ user.advanced_profile.organization_name }}</h3>
<p>{{ user.get_full_name }}</p>
            <p><i>{{ user.date_joined }}</i></p>
        </div>
      </div>

    </div>

    <!--no Left and right controls -->

</div>

<!--Title-->
<h2 class="text-center" style="font-family: Montserrat, sans-serif;border: 5px; border-style: groove;margin: 0;padding-top: 0px;padding-bottom: 3px; color: #d5d5d5 !important;
      background-color: rgb(0,0,0) !important; opacity: 0.8;letter-spacing: 10px;">{{ user.advanced_profile.organization_name }}</h2>



<div class="row1">
    <div class="container-fluid col-sm-2 text-center" style="background-color: #29292c; color: #dcdcdc; opacity: 0.9; border-radius: 15px">
{% if request.user|has_group:"advanced_user" %}
{% include "side_bar.html" %}
    {% else %}<p>Για τους φλώρους απλούς χρήστες δεν έχει πλαινή μπάρα :D</p>
{% endif %}
    </div>




    <div class="container-fluid col-sm-8 panel panel-default" style="border-radius: 10px">
<div class="text-center">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Η Εκδήλωση</a></li>
    <li><a data-toggle="tab" href="#menu1">Πληροφορίες</a></li>
    <li><a data-toggle="tab" href="#menu2">Τοποθεσία</a></li>
      <li><a data-toggle="tab" href="#menu3">Σχόλια</a></li>
  </ul>
</div>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">


        <div class="col-sm-8 col-sm-offset-2">
            <p><h2><span class="glyphicon glyphicon-info-sign"></span>Περιγραφή</h2></p>
           <p>{{ event.description }}</p>
            <p>{{ event.content|safe|linebreaks }}</p>
            <p><em><span class="glyphicon glyphicon-pushpin"></span>Κατηγορία:</em> <h4 style="border-radius: 40%">{{ event.section }}</h4></p>
            <p><span class="glyphicon glyphicon-calendar"></span><em>Ημερομηνία ανάρτησης Δημοσίευσης: {{ event.created }}</em></p>

      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="col-sm-8 col-sm-offset-2">
      <h2><span class="glyphicon glyphicon-info-sign"></span>Πληροφορίες Εκδήλωσης</h2>
      <p><span class="glyphicon glyphicon-calendar"><span class="glyphicon glyphicon-time"></span></span>Ημερομηνία και ώρα Εκδήλωσης: {{ event.information.dateTime }}</p>
        <p>Τιμή εισητηρίου: {{ event.information.ticket_price }} <span class="glyphicon glyphicon-euro"></span></p>
        <p><span class="glyphicon glyphicon-shopping-cart"></span>Προπώληση: {{ event.information.presale }}</p>

        </div></div>
    <div id="menu2" class="tab-pane fade">
        <div class="col-sm-8 col-sm-offset-2">
                <h2>Τοποθεσία Εκδήλωσης</h2>
             <p>Όνομα Τοποθεσίας: {{ event.location.name }}</p>
            <p>Διεύθυνση: {{ event.location.address }}</p>
            <p>Τηλέφωνο: {{ event.location.tel }}</p>
            <p>Πόλη: {{ event.location.city }}</p>
            <p>Ιστοσελίδα: <a href="{{ event.location.site }}">{{ event.location.site }}</a></p>
             <p>Ηλεκτρονικό ταχυδρομείο: {{ event.location.email }}</p>
             <p>Δείτε στον χάρτη: </p>
            <div id="map" style="width:100%;height:500px"></div>

            <script>
    $("a[href='#menu2']").on('shown.bs.tab', function myMap() {


  var myCenter = new google.maps.LatLng({{ event.location.position }});
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 10};
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({position:myCenter});
  marker.setMap(map);
  google.maps.event.addListener(marker,'click',function() {
    var infowindow = new google.maps.InfoWindow({
      content:"{{ event.location.name }}, {{ event.location.address }}"
    });
  infowindow.open(map,marker);
  });
});
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt3jxm41PYXEQRwTfyzzK2Ngq-nMn3GO8&callback=myMap"></script>
        </div>
    </div>
      <div id="menu3" class="tab-pane fade">
          <div class="col-sm-8 col-sm-offset-2 text-left">
          {% for comment in comments %}
       <div class="media">
    <div class="media-left media-middle">
      <img src="{% if comment.user.profile %}{{ comment.user.profile.photo.url }}{% else %}{{ comment.user.advanced_profile.photo.url }}{% endif %}" class="media-object" style="width:45px; height:45px;object-fit: cover;">
    </div>
    <div class="media-body">
        <h3 class="media-heading text-left" style="margin-bottom: 0px; margin-top: 5px;"><strong>{{ comment.user }}</strong><span><small><i> {{ comment.created }}</i></small></span> </h3>



    </div> <div class="text-left" style="overflow-wrap: break-word"><p>{{ comment.body|linebreaks }}</p></div>
       </div>
        {% empty %}
        <p>There are no comments yet!!!</p>
    {% endfor %}
    {% if new_comment  %}
        <h2>Your comment has been added!!!</h2>
    {% endif %}
         <h2>Add a new comment</h2>
        <form action="." method="post" style="color: black">
            {{ comment_form.as_p }}
            {% csrf_token %}
        <input class="btn btn-default" type="submit" value="κοινοποίηση σχολίου">
        </form>
    </div>
  </div>
  </div></div>
    <!--right column-->

    <!--views-->
    <button type="button" class="btn btn-primary">Total views <span class="badge">{{ views }}</span></button>

    <!--like+modal-->

   <p> <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
         {% with total_likes=likes.count  %}
             <h2 style="padding: 0; margin: 0"><span class="count"><span id="total">{{ total_likes }}</span> like{{ total_likes|pluralize }}</span></h2>
         {% endwith %}</button>
   <label class="label label-success"> <span class="glyphicon {% if not user_like %}glyphicon-thumbs-up{% else %}glyphicon-thumbs-down{% endif %}"></span>
    <a href="#" data-id="{{ event.id }}" data-action="{% if user_like %}un{% endif %}like" class="like">
        {% if not user_like  %}
            Like
        {% else %}
            Unlike
        {% endif %}
    </a>
</label></p>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="color: black">users like</h4>
        </div>
        <div class="modal-body">

            {% for like in likes %}


                <div class="media">
    <div class="media-left">
      <img src="{% if like.user.profile %}{{ like.user.profile.photo.url }}{% else %}{{ like.user.advanced_profile.photo.url }}{% endif %}" class="media-object" style="width:45px; height:45px;object-fit: cover">
    </div>
    <div class="media-body">

        <p style="color: black">{{ like.user.username }}</p>
    </div>
       </div>


            {% empty %}<p style="color: black">nobody likes the post yet</p>
        {% endfor %}</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" style="color: #f6f6f6">Close</button>
        </div>
      </div>

    </div>
  </div>

    <!--register-->
    <div>
     <span class="register-count">
            <span class="total-registered">{{ total_registered.count }}</span>
            registered
        </span>
    <a href="#" data-id="{{ event.id }}" data-action="{% if user_registered %}un{% endif %}register" class="register">
        {% if not user_registered %}
            Register
        {% else %}
            Unregister
        {% endif %}
    </a>
    </div>
    <!--tags-->
     <p>Tags: {% for tag in tags %}
<a href="{% url "home_page_by_tag" tag.slug %}">
{{ tag.name }}
</a>
{% if not forloop.last %}, {% endif %}
{% endfor %}</p>


    <div class="container-fluid col-sm-2 panel panel-default"><p>similar events: </p><ul>{% for similar_event in similar_events %}<a href="{{ similar_event.get_absolute_url }}"><li>{{ similar_event }}</li></a>{% endfor %}</ul></div>

</div>
{% endblock %}

{% block domready %}
     $('a.like').click(function(e){
        e.preventDefault();
        $.post('{% url "like" %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action'),
            },
        function(data){
            if (data['status'] == 'ok'){
                  var previous_action = $('a.like').data('action');
                  $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
                  $('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');
                   $(".glyphicon").toggleClass("glyphicon-thumbs-up glyphicon-thumbs-down");

                  var previous_likes = parseInt($('#total').text());
                  $('#total').text(previous_action == 'like' ? previous_likes +1 : previous_likes -1);
                                }
                    }
    );
    });
    <!--register ajax call-->
     $('a.register').click(function (e) {
        e.preventDefault();
        $.post('{% url 'event_register' %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action'),
            },
        function (data) {
            if (data['status'] == 'ok'){
                var previous_action = $('a.register').data('action');
                $('a.register').data('action', previous_action == 'register' ? 'unregister' : 'register');
                $('a.register').text(previous_action == 'register' ? 'Unregister' : 'Register');
                var previous_registered = parseInt($('.total-registered').text());
                $('.total-registered').text(previous_action == 'register' ? previous_registered +1 : previous_registered -1);
            }

        });

    });
{% endblock %}