<div class="container text-center">
  <h3>THE BAND</h3>
  <p><em>We love music!</em></p>
  <p>We have created a fictional band website. Lorem ipsum..</p>
  <br>
  <div class="row">
      {% for user in users %}
    <div class="col-sm-4 panel panel-default" style="border-radius: 10%;color: whitesmoke; background-color: #431515;">
      <p class="text-center"><h2>{{ user.get_full_name }}</h2><br>
      <a href="#demo" data-toggle="collapse">
        <img src="{{ user.advanced_profile.photo.url }}" class="img-circle person" alt="Random Name" style="width: 255px; height :255px;object-fit: cover;">
      </a>
      <div id="demo" class="collapse">
        <p>Guitarist and Lead Vocalist</p>
        <p>Loves long walks on the beach</p>
        <p>Member since 1988</p>
      </div>
    </div>
  {% endfor %}
  </div>
    </div>








