
      {% for user in users %}
    <div class="col-sm-3" style="margin-bottom: 60px">

      <a href="#demo{{ forloop.counter }}" data-toggle="collapse">
        <h3 style="height: 40px; max-height: 40px; letter-spacing: 0">{{ user.advanced_profile.organization_name }}</h3><br>
      </a>
        <a href="{% url 'user_details' user.username %}"><img src="{{ user.advanced_profile.photo.url }}" class="img-circle person" alt="Random Name" style="width: 150px; height :160px;object-fit: cover;">
        </a>
      <div id="demo{{ forloop.counter }}" class="collapse">
        <p>Guitarist and Lead Vocalist</p>
        <p>Loves long walks on the beach</p>
        <p>Member since 1988</p>
      </div>
    </div>
  {% endfor %}









