{% extends 'account/base.html' %}
{% load account_tags %}
{% block content %}

   <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for user in user_carousel %}
      <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"
          {% if forloop.counter0 == 0 %}class="active">{% endif %}</li>

         {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      {% for user in user_carousel %}
        <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
            <a href="{% url 'user_details' user.username %}"> <img src="{{ user.advanced_profile.photo.url }}" alt="New York"></a>
        <div class="carousel-caption">
          <h3>{{ user.get_full_name }}</h3>
          <p>{{ user.username }}</p>
            <p><i>{{ user.date_joined }}</i></p>
        </div>
      </div>
        {% endfor %}
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>


<h1 id="lista-ekdiloseon-title" class="text-center"  style="margin: 0;padding-top: 0px;padding-bottom: 3px;color: #d5d5d5 !important;
      background-image: linear-gradient(#000000, #5f5f62); opacity: 0.8;letter-spacing: 10px; font-size: 140%">Λίστα διοργανωτών</h1>

  <div class="row1">
  <!--left container-->
<div class="container-fluid col-sm-2 text-left" style="background-image: linear-gradient(#000000, #5f5f62); color: #f1f1f1; border-radius: 4px">
{% if request.user|has_group:"advanced_user" %}
{% include "side_bar.html" %}
    {% else %}<p>Για τους φλώρους απλούς χρήστες δεν έχει πλαινή μπάρα :D</p>
{% endif %}
</div>
  <!--middle container-->
    <div class="container-fluid text-center col-sm-8 panel panel-default" style="border-radius: 10px; opacity: 0.9; background: url(/media/touvlo.png) repeat;">
      <div id="organizers-list" class="text-center">
           <p class="text-center"><em>Σκρολλάρετε προς τα κάτω για να δείτε όλους τους διοργανωτές</em></p><br>
{% include "organizers/organizers.html" %}
 </div>
 </div>
  <!--right container-->
  <div class="container-fluid col-sm-2">
      <!--calendar fasi-->


   {% include "calendar.html" %}

 <script>
        function miskaks3(){
    var month_name = ['Ιανουάριος','Φεβρουάριος','Μάρτιος','Απρίλιος','Μάιος','Ιούνιος','Ιούλιος','Αύγουστος','Σεπτέμβρης','Οκτώβρης','Νοέμβρης','Δεκέμβρης'];
    month_name=month_name[{{ pinaks.1.month }}-1];
    return month_name;
}
 function miskaks4(){
    year={{ pinaks.1.year }};
    return year;
}
<!--second calendar tab-->
   function miskaks5(){
    var month_name = ['Ιανουάριος','Φεβρουάριος','Μάρτιος','Απρίλιος','Μάιος','Ιούνιος','Ιούλιος','Αύγουστος','Σεπτέμβρης','Οκτώβρης','Νοέμβρης','Δεκέμβρης'];
    month_name=month_name[{{ pinaks2.1.month }}-1];
    return month_name;
}
 function miskaks6(){
    year={{ pinaks2.2.year }};
    return year;
}
<!--third calendar tab-->
           function miskaks7(){
    var month_name = ['Ιανουάριος','Φεβρουάριος','Μάρτιος','Απρίλιος','Μάιος','Ιούνιος','Ιούλιος','Αύγουστος','Σεπτέμβρης','Οκτώβρης','Νοέμβρης','Δεκέμβρης'];
    month_name=month_name[{{ pinaks3.3.month }}-1];
    return month_name;
}
 function miskaks8(){
    year={{ pinaks3.1.year }};
    return year;
}
<!--fourth calendar tab-->
           function miskaks9(){
    var month_name = ['Ιανουάριος','Φεβρουάριος','Μάρτιος','Απρίλιος','Μάιος','Ιούνιος','Ιούλιος','Αύγουστος','Σεπτέμβρης','Οκτώβρης','Νοέμβρης','Δεκέμβρης'];
    month_name=month_name[{{ pinaks4.1.month }}-1];
    return month_name;
}
 function miskaks10(){
    year={{ pinaks4.1.year }};
    return year;
}

     document.getElementById("month").innerHTML = miskaks3();
     document.getElementById("year").innerHTML = miskaks4();

      document.getElementById("month2").innerHTML = miskaks5();
     document.getElementById("year2").innerHTML = miskaks6();

      document.getElementById("month3").innerHTML = miskaks7();
     document.getElementById("year3").innerHTML = miskaks8();

      document.getElementById("month4").innerHTML = miskaks9();
     document.getElementById("year4").innerHTML = miskaks10();
    </script>
  </div>
  </div>
</div>


{% endblock %}
{% block domready %}

 var page = 1;
 var empty_page = false;
 var block_request = false;
    $(window).scroll(function() {
        var margin = $(document).height()-750;
        if ($(window).scrollTop() > margin && empty_page==false && block_request==false){
            block_request = true;
            page += 1;
            $.get('?page='+page, function(data) {
                if (data==('')){
                    empty_page = true;
                }else {
                    block_request = false;
                    $('#organizers_list').append(data);

                }



            });

        }

    });

{% endblock %}